@media only screen and (max-width: 600px) {
  nav {
    padding: 5vw 6vw;
  }
  .logo {
    font-size: 2vh;
  }
  .hamburgerMenu > span {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 9999px;
  }
  .hamburgerMenu > span:not(:last-child) {
    margin-bottom: 5px;
  }
  .active > span:nth-child(1) {
    transform: translateY(3px);
  }
  .active > span:nth-child(3) {
    transform: translateY(-11px) rotate(90deg);
  }
  .menu-active {
    height: 60vh;
  }

  .menu-container ul li {
    font-size: 1.8rem;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    margin-bottom: 4rem;
    color: black;
  }
  .menu-container ul li .link {
    color: #23a1fc;
    text-decoration: none;
  }

  .carosel {
    position: relative;
    width: 100%;
    height: 60vh;
  }
  .carosel .slide {
    height: 60vh;
  }
  .carosel .details {
    margin-top: 20vh;
    padding: 0 3vw;
  }
  .contact-us-page > .banner {
    height: 60vh;
  }
  .formcarry-container {
    box-sizing: border-box;
    margin: 5vh auto 5vh auto;
  }

  .intro-section {
    padding: 4vh 10vw;
  }
  .intro-section > h2 {
    font-size: 2vh;
    text-align: center;
    margin-bottom: 4vh;
    text-transform: uppercase;
  }
  .intro-section > .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .intro-section > .container > img {
    width: 60%;
  }
  .intro-section > .container > div > p {
    text-align: center;
    font-size: 1.5vh;
    line-height: 3vh;
    width: 100%;
    margin-bottom: 3vh;
  }
  .intro-section > .container > div > button {
    width: 100%;
    text-align: center;
    font-size: 2vh;
    font-weight: 100;
  }
  .corevalues-section {
    width: 100%;
    padding: 4vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .corevalues-section > h2 {
    font-size: 4vh;
    margin-bottom: 5vh;
    width: 100%;
    text-align: center;
    font-weight: 300;
  }
  .card-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-column-gap: 5vw;
    grid-row-gap: 3vh;
  }
  .card-container > .card {
    background-color: white;
    padding: 3vw 3vw 1vw 3vw;
    width: 100%;
    height: 20vh;
  }
  .card-container > .card > h3 {
    font-size: 1rem;
    margin-bottom: 3vw;
    line-height: 4vw;
  }
  .card-container > .card > p {
    font-weight: 200;
    font-size: 2vw;
    line-height: 4vw;
    color: white;
  }
  .What-we-offer-section {
    padding: 4vh 10vw;
  }
  footer > .mobileonly {
    display: flex;
  }
  footer {
    background-color: #0c6cfc;
    display: block;
    padding: 4vh 10vw;
  }
  footer > div {
    margin-bottom: 2vh;
  }
  footer > div > h3 {
    font-size: 2vh;
    margin-bottom: 1vh;
  }
  footer > div > h3 > span {
    font-size: 2vh;
  }
}
